.proposal-detail-outer-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.prop-detail-left-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.prop-detail-middle-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.prop-detail-right-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}