<mat-drawer-container
    class="mn-container"
    [hasBackdrop]="true">
    <mat-drawer
        #globalMenu
        [mode]="'slide'">
        <div *ngIf="currentUserName">
            <div *ngFor="let navElem of navBtns">
                <a
                    *ngIf="navElem.route !== ''"
                    mat-raised-button
                    color="accent"
                    class="bucket-nav-elem"
                    routerLink="{{navElem.route}}"
                    (click)="globalMenu.close()">
                    {{navElem.label}}
                </a>
                <a
                    *ngIf="navElem.route === ''"
                    mat-raised-button
                    color="accent"
                    class="bucket-nav-elem"
                    (click)="navElem.action(globalMenu.close())">
                    {{navElem.label}}
                </a>
            </div>
        </div>
        <div *ngIf="!currentUserName">
            <a
                mat-raised-button
                color="accent"
                class="bucket-nav-elem"
                routerLink="/login"
                (click)="globalMenu.close()">
                Login
            </a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="layout-container">
            <div class="layout-firstItem">
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <button
                            mat-icon-button
                            color="default"
                            (click)="globalMenu.toggle()">
                            <mat-icon class="material-icons">menu</mat-icon>
                        </button>

                        <a
                            class="titlebar-font"
                            color="default"
                            routerLink="/">
                            {{title}}
                        </a>

                        <button
                            *ngIf="currentUserName"
                            class="last-btn"
                            mat-icon-button
                            color="default"
                            routerLink="/profile">
                            <img
                                class="profile-icon"
                                src="{{userPictureSrc}}">
                            {{currentUserName}}
                        </button>

                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
            <div class="layout-secondItem">
                <router-outlet (authed)="onAuthedEvent($event)"></router-outlet>
            </div>

        </div>

    </mat-drawer-content>
</mat-drawer-container>
