<div class="main-board-container">
    <mat-tab-group>
        <mat-tab label="Available Items">
            <div class="main-board">
                <div class="board-toolbar-outer-container">
                    <button
                        class="board-toolbar-container-button"
                        mat-icon-button
                        color="primary"
                        (click)="onAddItem()">
                        <mat-icon class="material-icons">add_circle</mat-icon>
                        Add Item
                    </button>

                    <!-- *ngIf="showEditPostingBtn()" -->
                    <button
                        class="board-toolbar-container-button"
                        mat-icon-button
                        color="primary"
                        *ngIf="false"
                        (click)="onEditItem()">
                        <mat-icon class="material-icons">edit</mat-icon>
                        Edit Posting
                    </button>
                    <!-- *ngIf="showEditPostingBtn()" -->

                    <button
                        class="board-toolbar-container-button"
                        mat-icon-button
                        color="primary"
                        *ngIf="showProposeBtn()"
                        (click)="onProposeTrade()">
                        <mat-icon class="material-icons">pan_tool</mat-icon>
                        Propose Trade
                    </button>
                    <button
                        class="board-toolbar-container-button"
                        mat-icon-button
                        color="primary"
                        *ngIf="showDeleteBtn()"
                        (click)="onDeleteItem(availableSelection.selected)">
                        <mat-icon class="material-icons">delete</mat-icon>
                        Delete Item
                    </button>

                    <div class="board-toolbar-container-filter">
                        <mat-form-field>
                            <input
                                matInput
                                (keyup)="applyFilter($event.target.value)"
                                placeholder="Filter">
                        </mat-form-field>
                    </div>
                </div>
                <div class="main-board-table-container">
                    <table
                        #table
                        class="main-board-table mat-elevation-z8"
                        mat-table
                        matSort
                        [dataSource]="availableSwapItemsDS">

                        <ng-container matColumnDef="select">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                <mat-checkbox
                                    (change)="$event ? masterToggle() : null"
                                    [checked]="availableSelection && availableSelection.hasValue() && isAllSelected()"
                                    [indeterminate]="availableSelection && availableSelection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                <mat-checkbox
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? availableSelection.toggle(row) : null"
                                    [checked]="availableSelection && availableSelection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Name
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="brewery">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Brewery
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.brewery}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="style">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Style
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.style}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="teir">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Teir
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.teir | teirs}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="numAvailable">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                No. Available
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.numAvailable}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="packageSize">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Package Size
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.packageSize | packageSize }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ownerDisplayName">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Owner
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.ownerDisplayName }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="desiredSwap">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Wish to Swap For...
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.desiredSwap}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="minTeirAccepted">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Minimum Teir Accepted
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.minTeirAccepted}}
                            </td>
                        </ng-container>

                        <!-- Header and Row Declarations -->
                        <tbody>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns;"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="paginator-container">
                    <mat-paginator
                        #paginator0
                        class="mat-elevation-z8 main-board-paginator"
                        [pageSizeOptions]="[5, 10, 15]"
                        showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Un-Available Items">
            <div class="main-board">
                <div class="board-toolbar-outer-container">
                    <div class="board-toolbar-container-filter">
                        <mat-form-field>
                            <input
                                matInput
                                (keyup)="applyFilter($event.target.value, 'pending')"
                                placeholder="Filter">
                        </mat-form-field>
                    </div>
                </div>
                <div class="main-board-table-container">
                    <table
                        #table
                        class="main-board-table mat-elevation-z8"
                        mat-table
                        matSort
                        [dataSource]="pendingSwapItemsDS">

                        <ng-container matColumnDef="select">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                <mat-checkbox
                                    (change)="$event ? masterToggle('pending') : null"
                                    [checked]="pendingSelection && pendingSelection.hasValue() && isAllSelected('pending')"
                                    [indeterminate]="pendingSelection && pendingSelection.hasValue() && !isAllSelected('pending')">
                                </mat-checkbox>
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                <mat-checkbox
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? pendingSelection.toggle(row) : null"
                                    [checked]="pendingSelection && pendingSelection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Name
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="brewery">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Brewery
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.brewery}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="style">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Style
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.style}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="teir">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Teir
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.teir | teirs}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="numAvailable">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                No. Available
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.numAvailable}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="packageSize">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Package Size
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.packageSize | packageSize }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ownerDisplayName">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Owner
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.ownerDisplayName}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="desiredSwap">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Wish to Swap For...
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.desiredSwap}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="minTeirAccepted">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Minimum Teir Accepted
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row">
                                {{row.minTeirAccepted}}
                            </td>
                        </ng-container>

                        <!-- Header and Row Declarations -->
                        <tbody>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns;"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="paginator-container">
                    <mat-paginator
                        #paginator1
                        class="mat-elevation-z8 main-board-paginator"
                        [pageSizeOptions]="[5, 10, 15]"
                        showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
